label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: papayawhip;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
}

.profile-img-card {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  display: block;
}
